registry=https://registry.npmjs.org/
always-auth=false
strict-ssl=false
fund=false
audit=false
loglevel=info
legacy-peer-deps=true
lockfile-version=3
package-lock=false
cache=.npm
ignore-scripts=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
auth-type=legacy